
/* clear fix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
    
}
/* normalize */
html,
body,
img,
h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1,
li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

p {
    margin: 10px 0;
    font-weight: 300;
    word-break: keep-all;
    line-height: 1.8;
}


/* layout */
.container__main {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    padding-top: 3%;
}

.container__float {
    overflow: hidden;
    padding: 10px 0;
}
.container__float_item {
    float: left;
}
.container__float_item i {
    padding-right: 20px;
}
.container__profile_photo {
    width: 30%;
}
.container__profile_photo img {
    border-radius: .25rem;
	max-width: 240px;
	min-height: 320px;
}
.container__profile_info {
    width: 70%;
}
.container__section {
    margin: 50px 0;
}
.container__alert {
    color: #464a4e;
    background-color: #e7e8ea;
    border-color: #dddfe2;
}
.container__footer {
	width: 100%;
	background-color: #f8f9fa;
	text-align: center;
	padding: 30px;
}
/* character */
h4 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
h1.title {
    color:#3c78d8;
}

.gray {
	color: gray;
}
.red {
	color: red;
}
/* table */
table.table__open {
    width: 100%;
    /* 테두리와 셀의 테두리 사이 간격 처리 */
    border-collapse: collapse;
    border-top: 1px solid rgba(0,0,0,.1);
}

.table__open th {
	text-align: right;
}

.table__open th h4{
    text-align: right;
}
.table__open td {
    width: 70%;
}
.table__open th,
.table__open td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 30px;
}

/* badge */
.table__skill .badge {
	margin-right: 10px;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.badge__primary {
	color: white;
    background-color: #007bff;
}
.badge__secondary {
    color: white;
	background-color: #868e96;
}
.badge__light {
    color: #111;
    background-color: #f8f9fa;
}
.badge__info {
    color: #fff;
    background-color: #17a2b8;
}
/* test */
.test1 {
    background-color: aqua;
}
.test2 {
    background-color: blueviolet;
}
.test3 {
    background-color: blue;
}
.next_element {
    background-color: coral;
    width: 100%;
    height: 100px;
}